/*

    selector {
        property: value;
        property: value;
        property: value;
        etc.
    }

    selector options:

    tag name, sutch as p or img
    .classname, such a .green or .highlighted
    tag.class, such as h1.green or p.highlighted

    tagname>tagname
    .classname>tagname
    tagname>.classname
    .classname>.classname
*/

.nav {
    list-style: none;
    border-style: solid ;
    padding-left: 0%;
    width: 50%;
    margin: auto;
    text-align: center;
}

.nav>li {
    border-style: ridge;
    display: inline-block;
}

body {
    background-image: url(Images/hokusai.jpg);
    background-repeat: no-repeat;
   background-size: cover;

}

.bold {
    font-style: bold;
}

p {
    color: red;
    background-color: black;
    font-size: 200%;
}

.one {
    background-image: url(Images/islands.jfif);
   background-repeat: no-repeat;
   background-size: cover;
}

.two {
 background-image: url(Images/cannedFood.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.three {
 background-image: url(Images/forest.webp);
 background-repeat: no-repeat;
   background-size: cover;
}

.headings {
    color: white;
    background-color: black;
    font-size: 300%;
}
h2 {
    font-size: 250%;
}
